table {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
}
thead {
    text-align: left;
}
.cart-item {
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
    width: 100%;
}